location             = "northeurope"
vm_size              = "Standard_B2ms"
admin_username       = "azureuser"
admin_ssh_public_key = "ssh-rsa AAAA... your-key-here"
admin_ip             = "1.2.3.4/32"
cloudflare_api_token = "your-cloudflare-api-token"
cloudflare_zone_id   = "your-cloudflare-zone-id"
domain               = "kevinryan.io"
acr_name             = "kevinryanacr"
github_repo          = "DevOpsKev/kevinryan-io"
github_token         = "ghp_your-github-pat"
